.grid {
  width: 100%;
  overflow: hidden;
}

.searchField {
  min-width: 180px;
}

.selectField {
  width: 160px;
}

.selectTags {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
