.headerRow {
  margin-bottom: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
}

.sectionWithMargin {
  margin-bottom: 2rem;
}

.statusMessage {
  margin-top: 1rem;
}
