.section {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex: 1;
  min-width: 0;
}

.sectionsRow {
  align-items: stretch;
}

.group {
  gap: 8px;
}

.globalSettingsSection {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.addRow {
  align-items: center;
}

.configRow {
  align-items: center;
}

.chipsWrap {
  flex-wrap: wrap;
}
